<center>
<div class="row">
  <div class="span8 offset2">
    <%= p("/gallery/#{@sex}", @page, @last_page) %>

    <div id="wrapper">
      <div id="pics-container">
        <% @users.each_with_index do |user,index| %>
        <div class="item" id="item<%= index %>" userid="<%= user.id %>">
          <a href='/vote/<%= "%s/%s" % [@sex, user.id] %>'>
            <img src='<%= user.pic_square %>' title='<%= user.name %>' alt='<%= user.id %>' />
          </a>
        </div>
        <% end %>
      </div>
    </div>
    
    <div class="page-header"></div>
  </div>
</center>


<div id="help">
  
  <div class="row">
    <div class="span6 offset3">
      <p>
  Press <code>/</code> to change from navigation mode to cursor mode
  At <code>naviagate</code> mode:
  <ul>
    <li> <code> &larr;</code> to move previous page </li>
    <li> <code> &rarr;</code> to move next page </li>
  </ul>
  At <code>cursor</code> mode:
  <ul>
    <li><code>a</code> to move cursor to left</li>
    <li><code>d</code> to move cursor to right</li>
    <li><code>w</code> to move cursor to up</li>
    <li><code>s</code> to move cursor to down</li>
    <li><code>enter</code> to go to vote for this image</li>
  </ul>
     </p>
    </div>
  </div>
</div>

<script type='text/javascript'>
var mode = 0; // naviagation mode
var row = 0;
var col = 0;

function handleNavigationMode(e) {
  if(e.keyCode == Key.key_left || e.keyCode == Key.key_a) { // left
    var page = <%= @page.to_i %>;
    if (page > 1)
      gotoURL('<%= "/gallery/#{@sex}/#{@page - 1}" %>');
  }
  else if(e.keyCode == Key.key_right || e.keyCode == Key.key_d) { // right
    gotoURL('<%= "/gallery/#{@sex}/#{@page + 1}" %>');
  }
}

function getSelectedItem() {
  return $("#item" + (row * 10 + col));
}

function handleMoveMode(e) {
  var isMove = isMoveKey(e);
  
  // remove old selected item
  if (isMove) 
    getSelectedItem().removeClass("selected").addClass("item");

  // handle move
  if (e.keyCode == Key.key_a || e.keyCode == Key.key_left) {  // a
    col = max(col - 1, 0);
  } else if (e.keyCode == Key.key_s || e.keyCode == Key.key_down) { // s
    row = min(row + 1, 9);
  } else if (e.keyCode == Key.key_w || e.keyCode == Key.key_up) { // w
    row = max(row - 1, 0);
  } else if (e.keyCode == Key.key_d || e.keyCode == Key.key_right) { // d
    col = min(col + 1, 9);
  } else if (e.keyCode == Key.key_enter) { // enter
    gotoURL('/vote/<%= @sex %>/' + getSelectedItem().attr('userid'));
  }
  
  // show new selected item 
  if (isMove) {
    getSelectedItem().removeClass("item").addClass("selected");
  }
}

$("body").keydown(function(e) {
  if (mode == 0)
    handleNavigationMode(e);
  else if (mode == 1)
    handleMoveMode(e);

  if (e.keyCode == Key.key_fslash) {// '/' to change mode
    mode = 1 - mode;
    if (mode == 1) {
      getSelectedItem().removeClass("item").addClass("selected");
    } else {
      getSelectedItem().removeClass("selected").addClass("item");
    }
  } 
});
</script>

