<h1>We have <%= @count %> users with <%= @count_girls %> girls and <%= @count - @count_girls  %> boys</h1>
<p> Pics per pages <%= @pic_per_page %></p>
<% @users.each do |user| %>
<p>
  <a href='http://www.facebook.com/profile.php?id=<%= user.id %>&sk=photos'>
    <img src='<%= user.pic_square %>' title='<%= user.name %>' alt='<%= user.name %>' />
  </a>
</p> 
<% end %>
