<!DOCTYPE html>
<html lang='en'>
<head>
<title><%= "#{@title}" %></title>
<meta charset=utf8 />
<link rel="stylesheet" href="<%=u 'style.css' %>">
<script type="text/javascript" src="<%=u 'jquery-1.7.1.min.js' %>"></script>
<script type="text/javascript" src="<%=u 'key.js' %>"></script>
</head>

<body>
<center>
  <div id="menu-nav">
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/vote/girls'>Vote</a></li>
    </ul>
  </div>

  <div id="main">
    <%= yield %>
  </div>

  <footer>
    <p><small>An application from <a href="http://kntblog.tumblr.com" target='blank'>KienNT</a></small></p>
  </footer>
</body>
</center>
</html>
