<p>
   You can press 'j' or 'k' to choose left girl or right girl.<br />
   For example, If you press 'j', you will choose the left.<br />
   The right one will be replace by another girl to compare <br />
</p>
<p> You can go to facebook account of user by click to image </p>
<div class='vote'>
  <div id="id1" class='voteimage'><a href='' target='blank'><img src='' id=''/></a></div>
  <div id="id2" class='voteimage'><a href='' target='blank'><img src='' id=''/></a></div>
</div>

<script type='text/javascript'>
function loadImage(id, link) {
  $(id + " img").attr('src', '<%=u "loading.gif" %>');
  $.getJSON(link, function(data) {
    $(id + " a").attr('href', 'http://www.facebook.com/profile.php?id=' + data.id + '&sk=photos');
    $(id + " a img").attr('src', data.pic).attr('id', data.id);
  });
}

loadImage("#id1", '/info.json/<%= @userid1 %>');
loadImage("#id2", '/info.json/<%= @userid2 %>');

$("body").keydown(function(e) {
  var userid1 = $("#id1 img").attr('id');
  var userid2 = $("#id2 img").attr('id');

  if (e.keyCode == Key.key_j) {
    loadImage("#id2", '/vote.json/<%= @sex %>/' + userid2 + '/' + userid1) 
  } else if (e.keyCode == Key.key_k) {
    loadImage("#id1", '/vote.json/<%= @sex %>/' + userid1 + '/' + userid2) 
  } else if (e.keyCode == Key.key_a) {
    loadImage("#id1", '/del.json/<%= @sex %>/' + userid1);
  } else if (e.keyCode == Key.key_d) {
    loadImage("#id2", '/del.json/<%= @sex %>/' + userid2);
  }
})
</script>
